{% comment %}
  Placeholder to allow defining custom head, in principle, you can add anything here, e.g. favicons:

  1. Head over to https://realfavicongenerator.net/ to add your own favicons.
  2. Customize default _includes/custom-head.html in your source directory and insert the given code snippet.
{% endcomment %}
<head>
    <link rel="shortcut icon" type="image/png" href="/blog/favicon.png">
    <script>
        document.addEventListener('readystatechange', event => {
            if (event.target.readyState === "complete") {
                document.querySelectorAll("img").forEach(function (i) {
                    // Fix relative markdown link so, md files has images linked properly before and after render
                    //http://127.0.0.1:4000/blog/helidon/lra/saga/2021/10/assets/lra/switch-operator.png
                    // to
                    //http://127.0.0.1:4000/blog/assets/lra/switch-operator.png
                    i.src = i.src.replaceAll(/blog\/[a-zA-Z0-9\-\/]*\/assets/g, 'blog/assets')
                })
            }
        });
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-1G07WMXVW6"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-1G07WMXVW6');
    </script>
</head>